html {
    min-height: 100%;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, orange, white, green);
    overflow: hidden;

}

.butt {
    display: flex;
    margin: 280px auto;
    padding: 50px;

}

.btn {
    background-color: navy;
    position: relative;
    width: max-content;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    color: white;
    margin: 0 auto;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    z-index: 0;
    cursor: pointer;
}

.btn:hover {
    color: navy;
}

.btn:active {
    background-color: navy;
    color: white;
}

.btn::after {
    content: '';
    width: 0px;
    position: absolute;
    height: 100%;
    border-radius: 100px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(221, 154, 30),white, rgb(16, 121, 16));
    transition: 15ms ease-in-out;
    z-index: -1;
}

.btn:hover::after{
    width: 100%;
}

